<h1>Widgets</h1>

<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="bg-dark text-white">
    <tr>
      <th class="px-2">SKU</th>
      <th class="px-2">Color</th>
      <th class="px-2">Shape</th>
      <th class="px-2">Other</th>
    </tr>
  </thead>
  <tbody>
  <% @widgets.each_with_index do |widget, index| %>
    <tr data-app="InPlaceEdit" @click="log()" tabindex="<%= index + 1 %>">
      <td class="px-2"><%= widget.sku %></td>
      <td class="px-2"><%= widget.color %></td>
      <td class="px-2"><%= widget.shape %></td>
      <td class="px-2"></td>
    </tr>
  <% end %>
  </tbody>
</table>